streamlit
langchain
langchain-core
langchain-community
langchain-classic
langchain-chroma
langchain-groq
langchain-huggingface
chromadb
sentence-transformers
transformers
torch
torchvision
pydantic
python-dotenv
plotly
pandas